<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Video to {{ channel.title }}</h1><br>
    {% if error %}
        <h3>{{ error }}</h3><br>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>title</h3>
        <input type="text" name="title"><br>
        <h3>description</h3>
        <textarea name="description" rows="4"></textarea><br>
        <h3>category</h3>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
            {% endfor %}
        </select><br>
        <h3>video file</h3>
        <input type="file" name="video_file"><br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>